
@import url('https://fonts.cdnfonts.com/css/circular-std');
 
body{
    position: relative;
    
}
:root{
    --bg-color: #fff;
    --item-color:#0744F2;
    --special-color: #FF6400;
    --black--color: black;
}



.wapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: none;
}
.active{
    display: block;
}

.login{
    position: relative;
    margin-top: 2rem;
    width: 35rem;
    height: auto;
    background-color: var(--bg-color);
    box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2), 0px 2px 16px rgba(33, 43, 54, 0.08);
    border-radius: 6px;
}


.top-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px #DFE3E8;
    padding: 1rem;

}
.top-login > h3{
    font-weight: 450;
    font-size: 1.4rem;
    /* line-height: 1.5rem; */
}



.top-login #btn_y{
    font-size: 3rem;
    font-weight: inherit;
    opacity: 0.6;
}

.top-login #btn_y:hover{
    cursor: pointer;
}
.item-login{
    width: 100%;
    height: auto;
    padding: 1.5rem;
}
.item-login .box-login{
    width: 100%;
    position: relative;
}

.item-login .box-login #box_{
    width: 100%;
    height: 3.5rem;
    font-size: 1.4rem;
    opacity: 0.7;
    padding-left: 3.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 1px solid #C4CDD5;
    box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
    border-radius: 3px;
}
.box-login > #icon{
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    opacity: 0.6;
    padding: 1rem;
}
#btn_login{
    width: 100%;
    height: 60px;
    border: none;
    background-color: var(--item-color);
    font-size: 1.4rem;
    color: var(--bg-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}
#btn_login:hover{
    cursor: pointer;
    opacity: 0.7;
}
.login_end{
    display: block;
    text-align: center;
    line-height: 3.5rem;
}
.login_end > p{
    font-size: 1rem;
    font-weight: 450;
}
.login_end > span{
    font-weight: 450;
    font-size: 1.3rem;
}
#passwork_rs{
    font-size: 1rem;
}
#passwork_rs:hover{
    cursor: pointer;
    text-decoration: underline;
}

.login_end > span > a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* login */